$theme-colors: (
    "primary": #8659cf,
    "secondary": #276696,
    "danger": #e7127d,
    "info": #808080e5,
    "warning": #ebc771,
    "light": rgb(255, 251, 251),
    "dark": #231239
);
$form-label-color: #656060;
$input-border-color: #d4abc03d;
$input-btn-focus-box-shadow : 2px 2px 26px 0px #9577bd47;
$input-placeholder-color: #6710f253;
$form-label-font-weight: 400 !default;
$font-family-sans-serif: 'Open Sans';


@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";

$custom-theme-colors: (
    "altdark" : #222425,
    "altlight" : #f2ebfa,
    "altdanger":#a5536069,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss"